@charset "utf-8";
    .text-brown{
        color: brown
        #bg-yellow{
            background-coler:yellow;
            .bg-orange{
                background-color: orange;
                span{
                    border: 2px dotted green;
                }
            }
        }
}
