@charset "utf-8";
h1{
    color: red;
 <link rel="stliesheet" href="style.css">
 h2h{
    color: #11B1CF;
 }
 body{
    background-color: #F0FFF0;
    font-family: "昭和モダン体","游明朝", serif;
 }
table{
    background-color: rgba(255,0,0,0.5);
}
li,td{
    font-size: 20px;
}
ol{
    border: solid 3px blue;
}

}