@charset "utf-8";
img{
 width: 100%;
}
.item{
    width: 200px;
    height: auto;
    margin: 10px;
    padding: 50px;
    background-color: aquamarine;

}
.box{
    display: flex;
    background-color: aqua;
    flex-wrap: wrap ;
    justify-content: center;
}
img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    object-fit: contain;}
    a{
        width: 70%;
        border-radius: 30px;
        margin: auto;
        padding: auto;
        background-color: blueviolet;
        display: block;
        text-decoration: none;
        text-align: center;
    }
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
